spring:
  application:
    name: scheduler-service
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:h2:mem:jobsdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081
  address: 0.0.0.0

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
