spring:
  application:
    name: orchestrator-service
  docker:
    compose:
      enabled: false

server:
  port: 8081
  address: 0.0.0.0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
