spring:
  application:
    name: discovery-service
  docker:
    compose:
      enabled: false

server:
  port: 8761
  # address: 0.0.0.0

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
